.idea/
*.sln.iml

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/

_ReSharper*/
*.DotSettings.user

*.nupkg
packages/
.nuget/
project.lock.json
project.fragment.lock.json

ScaffoldingReadMe.txt

*.log

.DS_Store
Thumbs.db

*.cache
